<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="johnny_0_upper_arm_transmission" params="side reflect">
		
		<!-- Shoulder roll -->
		<transmission type="pr2_mechanism_model/SimpleTransmission" name="${side}_shoulder_roll_trans">
			<actuator name="${side}_shoulder_roll_motor" />
			<joint name="${side}_shoulder_roll_joint" />
			<mechanicalReduction>${reflect * -1.0}</mechanicalReduction>
		</transmission>

	</xacro:macro>

</robot>
