<launch>
  <!-- Launches the Johnny-0 model without controllers in an empty world. -->

  <arg name="paused" default="false"/>
  <arg name="gui"    default="false"/>
  <arg name="rviz"   default="true"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui"    value="$(arg gui)"/>
  </include>
  
  <include file="$(find jn0_gazebo)/launch/jn0_standalone.launch"/>

  <node name="rviz"
         pkg="rviz"
        type="rviz"
          if="$(arg rviz)"/>

</launch>
