<?xml version="1.0"?>

<!--
	WARNING : Very approximative dimensions.
			  Origin set to the ball joint.

	Author : Cyril Lugan
-->

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:xacro="http://ros.org/wiki/xacro">

	<include filename="$(find irl_common_description)/urdf/common.xacro" />

	<!-- A grey cylinder to display an optical frame in rviz -->
	<xacro:macro name="kinect_optical_frame" params="name">
		<link name="${name}">
			<visual>
				<origin xyz="0 0 0.001" rpy="0 0 0" />
				<geometry>
					<cylinder length="0.06" radius="0.01" />
				</geometry>
				<material name="OpticalGrey">
					<color rgba="0.5 0.5 0.5 1.0"/>
				</material>
			</visual>
		</link>
	</xacro:macro>

	<!-- The actual macro to call in your model -->
	<xacro:macro name="kinect_camera" params="name xyz rpy material">

		<origin xyz="${xyz}" rpy="${rpy}" />
		<link name="${name}_camera_link">
			<visual>
				<origin xyz="0 0 0.02" rpy="0 0 0" />
				<geometry>
					<box size="0.06 0.26 0.035" />
				</geometry>
				<material name="${material}" />
			</visual>
		</link>

		<xacro:kinect_optical_frame name="${name}_depth_optical_frame"/>
		<xacro:kinect_optical_frame name="${name}_rgb_optical_frame"/>

		<joint name="${name}_depth_optical_joint" type="fixed">
			<origin xyz="0 0.012 0.02" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
			<parent link="${name}_camera_link" />
			<child link="${name}_depth_optical_frame" />
		</joint>

		<joint name="${name}_rgb_optical_joint" type="fixed">
			<origin xyz="0.025 0 0" rpy="0 0 0" />
			<parent link="${name}_depth_optical_frame" />
			<child link="${name}_rgb_optical_frame" />
		</joint>

	</xacro:macro>

</robot>
