<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="jn0" >

    <!-- Johnny-0 (the torso and arms) macro -->
    <xacro:include filename="$(find jn0_description)/robots/jn0.urdf.xacro" />

    <xacro:property name="base_height"  value="0.25" />

    <!-- Defines everything from base_link and up. -->
    <xacro:jn0 base_height="${base_height}" />

    <!-- Fixes the base_link to the world -->
    <link name="world" />
    <joint name="fixed" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
    </joint>

</robot>
