<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="johnny_0_forearm_transmission" params="side">
		
		<!-- Elbow tilt -->
		<transmission name="${side}_elbow_tilt_trans">
            <type>hardware_interface/SimpleTransmission</type>
            <actuator name="${side}_elbow_tilt_motor">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </actuator>
			<joint name="${side}_elbow_tilt_joint">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
			<mechanicalReduction>1.0</mechanicalReduction>
		</transmission>
		
	</xacro:macro>

</robot>
