<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
	   name="arm" >
	   
	<xacro:include filename="$(find irl_common_description)/urdf/jn0_arm/shoulder/shoulder.urdf.xacro" />
	<xacro:include filename="$(find irl_common_description)/urdf/jn0_arm/upper_arm/upper_arm.urdf.xacro" />
	<xacro:include filename="$(find irl_common_description)/urdf/jn0_arm/forearm/forearm.urdf.xacro" />
	<xacro:include filename="$(find irl_common_description)/urdf/jn0_arm/gripper/gripper.urdf.xacro" />

	<xacro:macro name="arm" params="side reflect parent">
		
		<xacro:johnny_0_shoulder side="${side}" reflect="${reflect}" parent="${parent}">
			<origin xyz="0 ${reflect*0.11430004} 0.55" rpy="0 0 0" />
		</xacro:johnny_0_shoulder>
		
		<xacro:johnny_0_upper_arm side="${side}" reflect="${reflect}" parent="${side}_shoulder_tilt_link">
			<origin xyz="0 0.31623 0" rpy="${M_PI/2} 0 0"/>
		</xacro:johnny_0_upper_arm>
		
		<xacro:johnny_0_forearm side="${side}" reflect="${reflect}" parent="${side}_upper_arm_link">
			<origin xyz="-0.0127 ${-reflect*0.031115} 0" rpy="${-M_PI/2} 0 0" />
		</xacro:johnny_0_forearm>
		
		<xacro:johnny_0_gripper side="${side}" reflect="${reflect}" parent="${side}_forearm_link">
			<!--origin xyz="0 0 0" rpy="0 0 0" /-->
		</xacro:johnny_0_gripper>
		
	</xacro:macro>
</robot>
<!--/(irl_common_description)-->
