<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="irl_ptu_pan_transmission" params="name" >
		<transmission type="pr2_mechanism_model/SimpleTransmission" name="${name}_trans">
			<actuator name="${name}_motor" />
			<joint name="${name}_joint" />
			<mechanicalReduction>1.0</mechanicalReduction>
		</transmission>
	</xacro:macro>
	<xacro:macro name="irl_ptu_tilt_transmission" params="name" >
        <transmission type="transmission_interface/SimpleTransmission"
                      name="${name}_trans">
			<actuator name="${name}_motor">
              <hardwareInterface>EffortJointInterface</hardwareInterface>
			  <mechanicalReduction>-1.0</mechanicalReduction>
            </actuator>
			<joint name="${name}_joint">
              <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
		</transmission>
	</xacro:macro>
</robot>
