<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="johnny_0_shoulder_transmission" params="reflect side">
		
		<!-- Shoulder pan -->
		<transmission name="${side}_shoulder_pan_trans">
            <type>hardware_interface/SimpleTransmission</type>
			<actuator name="${side}_shoulder_pan_motor">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </actuator>
			<joint name="${side}_shoulder_pan_joint">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
			<mechanicalReduction>1.0</mechanicalReduction>
		</transmission>
		
		<!-- Shoulder tilt -->
		<transmission name="${side}_shoulder_tilt_trans">
            <type>hardware_interface/SimpleTransmission</type>
			<actuator name="${side}_shoulder_tilt_motor">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </actuator>
			<joint name="${side}_shoulder_tilt_joint">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
			<mechanicalReduction>${reflect}</mechanicalReduction>
		</transmission>

	</xacro:macro>

</robot>
