<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find irl_common_description)/urdf/common_geometry.xacro" />

	<xacro:macro name="reddy_torso" params="name parent offset_x offset_y offset_z">
		<joint name="${name}_fixed_joint" type="fixed">
			<parent link="${parent}"/>
			<child link="${name}_link"/>
			<origin xyz="${offset_x} ${offset_y} ${offset_z}" rpy="0 0 0" />
		</joint>

		<link name="${name}_link">
			<xacro:simple_inertial mass="0.5" />
			<visual>
				<origin xyz="0.0575 0 0.75" rpy="${M_PI/2} 0 -${M_PI/2}" />
				<geometry>
					<mesh filename="package://irl_common_description/meshes/jn0_torso/reddy_torso.dae"  />
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<box size="0.21583 0.270 0.37921" />
				</geometry>
			</collision>
		</link>

		<gazebo reference="${name}_link">
			<material>Gazebo/Red</material>
		</gazebo>

		<joint name="${name}_top_frame_fixed" type="fixed">
			<parent link="${name}_link"/>
			<child link="${name}_top_frame"/>
			<origin xyz="0.0575 0 0.75" rpy="0 0 0" />
		</joint>
		<link name="${name}_top_frame" />

	</xacro:macro>


</robot>
