<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<include filename="$(find irl_common_description)/urdf/common_geometry.xacro" />

	<!-- TODO Parametrize right/left eyes -->

	<xacro:macro name="jn0_head" params="name parent offset_x offset_y offset_z">

		<joint name="${name}_fixed_joint" type="fixed">
			<parent link="${parent}"/>
			<child link="${name}_link"/>
			<!--origin xyz="0.03 0.15 0" rpy="0 ${M_PI} 0" /-->
			<origin xyz="${offset_x} ${offset_y} ${offset_z}" rpy="0 ${M_PI} 0" />
		</joint>

		<link name="${name}_link">
			<xacro:simple_inertial mass="0.5"/>
			<visual name="${name}_head_visual">
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://irl_common_description/meshes/jn0_head/head.dae"  />
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://irl_common_description/meshes/jn0_head/head.STL"  />
				</geometry>
			</collision>
		</link>

		<joint name="${name}_right_eye" type="fixed">
			<parent link="${name}_link"/>
			<child link="${name}_right_eye_link"/>
			<origin xyz="0.02 -0.01 0.02" rpy="0 0 0" />
		</joint>

		<joint name="${name}_left_eye" type="fixed">
			<parent link="${name}_link"/>
			<child link="${name}_left_eye_link"/>
			<origin xyz="-0.06 -0.01 0.02" rpy="0 0 0" />
		</joint>

		<link name="${name}_right_eye_link">
			<xacro:simple_inertial mass="0.001"/>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://irl_common_description/meshes/jn0_head/eye.dae"  />
				</geometry>
			</visual>

			<collision name="${name}_right_eye_collision">
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://irl_common_description/meshes/jn0_head/eye.STL"  />
				</geometry>
			</collision>
		</link>

		<link name="${name}_left_eye_link">
			<xacro:simple_inertial mass="0.001"/>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://irl_common_description/meshes/jn0_head/eye.dae"  />
					<!--sphere radius="0.001" /-->
				</geometry>
			</visual>

			<collision name="${name}_left_eye_collision">
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://irl_common_description/meshes/jn0_head/eye.STL"  />
				</geometry>
			</collision>
		</link>


		<joint name="${name}_right_black_eye" type="fixed">
			<parent link="${name}_right_eye_link"/>
			<child link="${name}_right_black_eye_link"/>
			<origin xyz="0.02 0.02 0.02" rpy="0 0 0" />
		</joint>

		<joint name="${name}_left_black_eye" type="fixed">
			<parent link="${name}_left_eye_link"/>
			<child link="${name}_left_black_eye_link"/>
			<origin xyz="0.02 0.02 0.02" rpy="0 0 0" />
		</joint>


		<link name="${name}_right_black_eye_link">
			<xacro:simple_inertial mass="0.001"/>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<cylinder radius="0.01" length="0.01"/>
				</geometry>
			</visual>
			<collision name="${name}_right_black_eye_collision">
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<cylinder radius="0.05" length="0.05"/>
				</geometry>
			</collision>
		</link>

		<link name="${name}_left_black_eye_link">
			<xacro:simple_inertial mass="0.001"/>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<cylinder radius="0.01" length="0.01"/>
				</geometry>
			</visual>
			<collision name="${name}_left_black_eye_collision">
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<cylinder radius="0.05" length="0.05"/>
				</geometry>
			</collision>
		</link>

		<joint name="${name}_left_eyebrow" type="fixed">
			<parent link="${name}_link"/>
			<child link="${name}_left_eyebrow_link"/>
			<origin xyz="-0.07 0.035 0.045" rpy="0 0 0" />
		</joint>

		<joint name="${name}_right_eyebrow" type="fixed">
			<parent link="${name}_link"/>
			<child link="${name}_right_eyebrow_link"/>
			<origin xyz="0.07 0.035 0.045" rpy="0 0 0" />
		</joint>


		<link name="${name}_left_eyebrow_link">
			<xacro:simple_inertial mass="0.001"/>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://irl_common_description/meshes/jn0_head/eyebrow.dae"  />
					<!--sphere radius="0.001" /-->
				</geometry>
			</visual>

			<collision name="${name}_left_eyebrow_collision">
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://irl_common_description/meshes/jn0_head/eyebrow.STL"  />
				</geometry>
			</collision>
		</link>

		<link name="${name}_right_eyebrow_link">
			<xacro:simple_inertial mass="0.001"/>
			<visual>
				<origin xyz="0 0 0" rpy="0 ${M_PI} 0" />
				<geometry>
					<mesh filename="package://irl_common_description/meshes/jn0_head/eyebrow.dae"  />
					<!--sphere radius="0.001" /-->
				</geometry>
			</visual>

			<collision name="${name}_right_eyebrow_collision">
				<origin xyz="0 0 0" rpy="0 ${M_PI} 0" />
				<geometry>
					<mesh filename="package://irl_common_description/meshes/jn0_head/eyebrow.STL"  />
				</geometry>
			</collision>
		</link>


		<gazebo reference="${name}_right_black_eye_link">
			<material>Gazebo/Black</material>
		</gazebo>

		<gazebo reference="${name}_left_black_eye_link">
			<material>Gazebo/Black</material>
		</gazebo>

		<gazebo reference="${name}_right_eyebrow_link">
			<material>Gazebo/Black</material>
		</gazebo>

		<gazebo reference="${name}_left_eyebrow_link">
			<material>Gazebo/Black</material>
		</gazebo>

		<!--gazebo reference="${name}_link">
			<material>Gazebo/Green</material>
		</gazebo-->

		<!--gazebo reference="${name}_link">
			<material>Gazebo/Red</material>
		</gazebo-->

	</xacro:macro>


</robot>
