<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="johnny_0_gripper_transmission" params="side">
		
        <!-- NOTE: The actual gripper on JN0 is actuated by a single motor
             pulling two revolute joints through a split cable.
             This dual actuator setup in URDF will be kept until we write
             a custom transmission plugin for it.
        -->

		<!-- Gripper up transmission -->
		<transmission name="${side}_gripper_up_trans">
            <type>hardware_interface/SimpleTransmission</type>
			<actuator name="${side}_gripper_up_motor">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </actuator>
			<joint name="${side}_gripper_up_joint">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
			<mechanicalReduction>1.0</mechanicalReduction>
		</transmission>
		
		<!-- Gripper down transmission -->
		<transmission name="${side}_gripper_down_trans">
            <type>hardware_interface/SimpleTransmission</type>
			<actuator name="${side}_gripper_down_motor">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </actuator>
			<joint name="${side}_gripper_down_joint">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
			<mechanicalReduction>1.0</mechanicalReduction>
		</transmission>
		
	</xacro:macro>

</robot>
