<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="johnny_0_gripper_transmission" params="side">
		
		<!-- Gripper up transmission -->
		<transmission name="${side}_gripper_up_trans">
            <type>hardware_interface/SimpleTransmission</type>
			<actuator name="${side}_gripper_up_motor">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </actuator>
			<joint name="${side}_gripper_up_joint">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
			<mechanicalReduction>1.0</mechanicalReduction>
		</transmission>
		
		<!-- Gripper down transmission -->
		<transmission name="${side}_gripper_down_trans">
            <type>hardware_interface/SimpleTransmission</type>
			<actuator name="${side}_gripper_down_motor">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </actuator>
			<joint name="${side}_gripper_down_joint">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
			<mechanicalReduction>1.0</mechanicalReduction>
		</transmission>
		
	</xacro:macro>

</robot>
