<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:macro name="az3_wheel_group_gazebo" params="side face">
    <gazebo reference="wheel${side}${face}_wheel_link">
      <mu1 value="100.0" />
      <mu2 value="100.0" />
      <kp  value="1000000.0" />
      <kd  value="1.0" />
      <!--material value="PR2/wheel_${suffix}" /-->
    </gazebo>
  </xacro:macro>

  <!--
  <xacro:macro name="pr2_caster_gazebo_v0" params="suffix">
    <gazebo reference="${suffix}_caster_rotation_link">
      <material value="PR2/caster_texture" />
    </gazebo>
  </xacro:macro>
  -->

</robot>
