<launch>
    <node name="can_robot_proto" 
          pkg="irl_can_ros_ctrl"
          type="can_robot_proto"
          launch-prefix="xterm -e gdb --args"
          output="screen"
    >
        <rosparam>
            ifaces: [can0, can1, can2]
            dev_0:
                can_device_id: 1
            dev_1:
                can_device_id: 2
            dev_2:
                can_device_id: 19
            dev_3:
                can_device_id: 20
        </rosparam>
    </node>
</launch>
