<launch>
    <node name="irl_robot_node" 
          pkg="irl_can_ros_ctrl"
          type="irl_robot_node"
          output="screen"
    >
        <rosparam>
            ifaces: [can0]
            devices: [dir1, dir2, dir3, dir4, prop1, prop2, prop3, prop4]

            dir1:
                can_device_id: 5
                joint_name:    wheelRF_revolute_joint
            dir2:
                can_device_id: 6
                joint_name:    wheelLF_revolute_joint
            dir3:
                can_device_id: 7
                joint_name:    wheelLB_revolute_joint
            dir4:
                can_device_id: 8
                joint_name:    wheelRB_revolute_joint
            prop1:
                can_device_id: 1
                joint_name:    wheelRF_wheel_continuous_joint
            prop2:
                can_device_id: 2
                joint_name:    wheelLF_wheel_continuous_joint
            prop3:
                can_device_id: 3
                joint_name:    wheelLB_wheel_continuous_joint
            prop4:
                can_device_id: 4
                joint_name:    wheelRB_wheel_continuous_joint

        </rosparam>
        <rosparam file="$(find irl_can_ros_ctrl)/launch/az2_dir.yaml" ns="dir1"/>
        <rosparam file="$(find irl_can_ros_ctrl)/launch/az2_dir.yaml" ns="dir2"/>
        <rosparam file="$(find irl_can_ros_ctrl)/launch/az2_dir.yaml" ns="dir3"/>
        <rosparam file="$(find irl_can_ros_ctrl)/launch/az2_dir.yaml" ns="dir4"/>
        <rosparam file="$(find irl_can_ros_ctrl)/launch/az2_prop.yaml" ns="prop1"/>
        <rosparam file="$(find irl_can_ros_ctrl)/launch/az2_prop.yaml" ns="prop2"/>
        <rosparam file="$(find irl_can_ros_ctrl)/launch/az2_prop.yaml" ns="prop3"/>
        <rosparam file="$(find irl_can_ros_ctrl)/launch/az2_prop.yaml" ns="prop4"/>
    </node>

    <include file="$(find joint_state_controller)/joint_state_controller.launch"/>

    <include file="$(find az2_description)/robots/upload_azimut_2.launch"/>
    <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="robot_state_publisher"/>

</launch>
