<launch>
    <node name="can_robot_proto" 
          pkg="irl_can_ros_ctrl"
          type="irl_robot_node"
          launch-prefix="xterm -e gdb --args"
          output="screen"
    >
        <rosparam>
            ifaces: [can0, can1, can2]
            devices: [dev1, dev2, dev19, dev20]
            dev1:
                can_device_type: UniDriveV2
                can_device_id:   1

                joint_name: "Joint1"

            dev2:
                can_device_type: UniDriveV2
                can_device_id:   2

                joint_name: "Joint2"

            dev19:
                can_device_type: UniDriveV2
                can_device_id:   19

                joint_name: "Joint19"

            dev20:
                can_device_type: UniDriveV2
                can_device_id:   20

                joint_name: "Joint20"

        </rosparam>
    </node>
</launch>
