<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="johnny_0_upper_arm_transmission" params="side reflect">
		
		<!-- Shoulder roll -->
		<transmission name="${side}_shoulder_roll_trans">
            <type>hardware_interface/SimpleTransmission</type>
			<actuator name="${side}_shoulder_roll_motor">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </actuator>
			<joint name="${side}_shoulder_roll_joint">
              <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
			<mechanicalReduction>${reflect * -1.0}</mechanicalReduction>
		</transmission>

	</xacro:macro>

</robot>
